root = true

[*]
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
max_line_length=140
indent_size = 2

[*.groovy]
indent_style = space
indent_size = 4

[*.java]
indent_style = space
indent_size = 4

[*.gsp]
indent_style = space
indent_size = 4

[*.gradle]
indent_style = space
indent_size = 2

[*.properties]
trim_trailing_whitespace = false

[*.md]
trim_trailing_whitespace = false

