---
restApi:
  defaultPackage: restify.api
  paths:
    # Security
    'security/user':
      description: The Users of the system. Certain limitiations will apply if user has been active
      entityClass: gorm.tools.security.domain.AppUser
    'security/role':
      description: The system roles that a user can belong to
      entityClass: gorm.tools.security.domain.SecRole
    'security/roleUser':
      description: The users assigned to the roles
      actions: [create, delete]
      entityClass: gorm.tools.security.domain.SecRoleUser

    # Rally
    'rally/activity':
      description: {$ref: descriptions/activity.md}
      entityClass: yakworks.rally.activity.model.Activity
    'rally/attachment':
      entityClass: yakworks.rally.attachment.model.Attachment
    'rally/company':
      entityClass: yakworks.rally.orgs.model.Company
    'rally/contact':
      entityClass: yakworks.rally.orgs.model.Contact
    'rally/org':
      entityClass: yakworks.rally.orgs.model.Org
      includes:
        get: [ '*', 'info.*' ]
    'rally/orgTypeSetup':
      entityClass: yakworks.rally.orgs.model.OrgTypeSetup
    'rally/tag':
      entityClass: yakworks.rally.tag.model.Tag

