<html>
<head>
  <title>Hello Index!</title>
</head>
<body>
<h1>Handlebars Index</h1>
<ul>
  <li><a href="hbars">Handlebars Test</a></li>
  <li><a href="saml">Saml Info</a></li>
  <li><a href="about">about test</a></li>
  <li><a id="logout" href="logout">Log Out</a></li>
</ul>

</body>
</html>
