<html>
<head>
  <title>Hello User!</title>
</head>
<body>
<h1>User </h1>
<ul>
  <li>id: {{user.id}}</li>
  <li>username: {{user.username}}</li>
  <li>email: {{user.email}}</li>
  <li>displayName: {{user.displayName}}</li>
</ul>

</body>
</html>
