<plugin name='dao' version='1.0.1' grailsVersion='1.3.7 &gt; *'>
  <author>Joshua Burnett</author>
  <title>Dao plugin</title>
  <description>\
Enables a grails-app/dao directory to setup beans
see https://github.com/basejump/grails-dao
</description>
  <documentation>http://grails.org/plugin/dao</documentation>
  <type>DaoGrailsPlugin</type>
  <resources />
</plugin>